body {
  text-align: center;
}
.App {
  margin: 0;
}

header {
  background-color: lightskyblue;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: row;
}
input {
  margin-top: 20px;
  width: 265px;
  height: 29px;
  border-radius: 4px;
  border-color: deepskyblue;
  background-color: rgb(184, 218, 234);
}
button {
  margin-top: 21px;
  margin-right: 10px;
  width: 80px;
  height: 30px;
  margin-left: 20px;
  padding: 7px;
  background-color: deepskyblue;
  border-color: deepskyblue;
  border-radius: 5px;
}
.auto-box {
  margin: auto;
  color: grey;
  border-color: deepskyblue;
  width: 267px;
  height: 29px;
  box-shadow: 0px 0px 1px 0px deepskyblue;
  border-radius: 0px 0px 3px 3px;
}
